@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  button {
    @apply text-white border bg-indigo-600 border-indigo-600 hover:bg-transparent hover:text-indigo-600 rounded-md;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .line-break {
    white-space: pre-wrap;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

button,
input {
  font-family: 'Montserrat', sans-serif;
}

/* Add this CSS to your existing styles or create a new CSS file */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* Adjust the height as needed */
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 255, 0.1);
    /* Blue color with opacity */
    border-left-color: #007bff;
    /* Blue color */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spinner 0.7s linear infinite;
}